body{
    background-color: aliceblue;
    margin-right: 50px;
    margin-left: 50px;
}

.first{
    text-align: center;
    line-height: 10px;
}

.second{
    background-color: black;
    height: 40px;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
    display: block;
}

.nav-bar{
    width: 15%;
    display: inline-block;
    margin-top: 6px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

p{
    text-align: justify;
}

.sixth a{
    color: black;
    font-size: 20px;
    border: 1px solid black;
}